<div id='page-singlepost'>
  <div id='single-post'>
    <div id='post-header'>
      <p id='post-title'>{{post.title}}</p>
      <p id='post-date'>{{format_date post.date}}</p>
    </div>
    <p id='post-body'>{{post.description}}</p>
    <p id='post-user'>- {{post.user}}</p>
  </div>
  {{#if loggedIn}}
    <form id='comment-form'>
      <textarea id='comment-field' placeholder='Add comment'></textarea>
      <button type='submit'>Submit</button>
    </form>
  {{else}}
    <form id='comment-form'>
      <textarea
        id='comment-field'
        disabled='true'
        placeholder='To comment on the post you must be logged in.'
      ></textarea>
      <button disabled='true' type='submit'>Submit</button>
    </form>
  {{/if}}
  <hr id='comment-section-divider' />
  <div id='comment-section'>
    {{#each post.comments as |comment|}}
      <div id='single-comment'>
        <div id='comment-wrapper'>
          <p id='user'>{{comment.user}}</p>
          -
          <p id='comment'>{{comment.text}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>